@import 'variables';
@import 'mixins';

aside.profile
  margin: 0 auto 3rem;
  text-align: center;
  width: calc(100% - 2rem);
  max-width: 800px;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .container
    width: 100%;

    h4
      @include blammo;
      transform: rotate(0);
      margin-bottom: 1rem;

    a
      @include button;
      margin: 0 auto;
      min-width: 16rem;
      width: 50%;

    ul
      @include comic-border;
      background-color: $lightneutral-color;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin: 0 auto 1.25rem;
      padding: 1rem;

      @media(min-width: 768px)
        width: 50%;

      li
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, auto);
        column-gap: .5rem;
        text-align: left;
        word-break: break-word;

        span:first-of-type
          text-align: right;

        a
          background: none;
          border: none;
          display: inline;
          color: $secondary-color;
          font-family: $body-font;
          box-shadow: none;
          padding: 0;
          text-align: left;

          &:hover
            box-shadow: none;
            color: $secondary-color;
            background: none;

          &:after
            background: none;
