@import 'variables';
@import 'mixins';

article footer#files
  background-color: transparent;
  color: inherit;
  padding: 0;

  div.container
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;

    h3
      flex: 0 0 100%;
      font-family: $body-font;
      font-size: 1.5rem;
      line-height: 1.75rem;
      text-align: left;

    a
      @include drop-shadow($lighthighlight-color);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffe;
      margin: 0 auto 1rem;
      width: 10rem;
      height: 10rem;

      &::after
        content: none;
