@import 'variables';
@import 'mixins';

svg
  display: inline;
  fill: $secondary-color;
  max-height: 1rem;
  max-width: 1rem;

h2
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: $body-font;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-right: 1rem;

h3
  font-family: $body-font;
  font-size: 1.5rem;
  line-height: 1.75rem;

h2
  @include blammo;
  text-align: center;
  margin: 0 auto;
  width: 100%;

  @media(min-width: 480px)
    transform: translateX(-4rem);
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: left;

h3
  @include blammo;
  text-align: center;
  margin: 0 auto 1rem;
  width: 100%;
  font-size: 2.5rem;

  @media(min-width: 480px)
    transform: translateX(-4rem);
    text-align: left;
    margin-bottom: 0;

p,
ul,
ol
  margin-bottom: 1.25rem;

ul
  list-style-type: none;

ul,
ol
  background-color: $secondary-color;
  border-radius: .5rem;
  margin: 1rem auto;
  padding: 1rem;
  width: calc(100% - 4rem);

li
  margin-bottom: .5rem;

  a
    &::after
      content: none;
      padding: 0;

  span
    a
      &::after
        content: none;
        padding: 0;

a
  color: $secondary-color;
  padding: 0 .1rem;
  position: relative;
  text-decoration: none;
  transition: color .25s ease-in-out;
  z-index: 1;

blockquote
  a
    color: $secondary-color;

  p
    &:last-child
      margin-bottom: 0;
