$background-color: #9499ac;

$lightprimary-color: #629097;
$primary-color: #3e767e;
$darkprimary-color: #0c424a;

$lightaccent-color: #82678b;
$accent-color: #694974;
$darkaccent-color: #401d4d;

$lighthighlight-color: #fdf1d6;
$highlight-color: #d2c199;
$darkhighlight-color: #8d784a;

$box-shadow: .125rem .125rem .5rem #aaa;

$body-font: 'Roboto Slab', serif;
$cursive-font: 'Grand Hotel', cursive;
$accent-font: 'Raleway', sans-serif;
